@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Roboto', 'Gill Sans', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #582d3000 !important;
       
}

.navbar .nav-item{
    /* text-shadow: 0 4px 6px rgba(0, 0, 0, 0.726); */
    text-shadow: 
    0px 4px 6px rgba(0, 0, 0, 0.5), 
   -0px 4px 6px rgba(0, 0, 0, 0.5), 
    0px -4px 6px rgba(0, 0, 0, 0.5), 
   -0px -4px 6px rgba(0, 0, 0, 0.5); /* Ajuste conforme o efeito desejado */
}    


.navbar-brand, .navbar-nav .nav-link {
    color: #F8D5B5 !important;
    
}



.logo-container {
    position: relative;
    width: 40px; /* Largura do logo */
    height: 40px; /* Altura do logo */
    display: inline-block; /* Impede que afete outros elementos inline */
    margin-right: 10px; /* Espaço entre logo e texto */
}



.logo{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.navbar-brand .logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transition: opacity 0.3s ease;
}

.logo.hover {
    opacity: 0;
}

.logo-container:hover .logo.normal {
    opacity: 0;
}

.logo-container:hover .logo.hover {
    opacity: 1;
}



.nav-link:hover {
    color: #D32430 !important;
    font-weight: bold;
}

.chevron {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 10px;


}

.chevron:hover {
    color: #D32430 !important;
    font-weight: bold;
}

.navbar-toggler {
    background-color: #00000050;
}

/* Cor do ícone do botão toggler */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgb(248 213 181)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler:hover {
    background-color: #f8d6b550;
}

.navbarhome {
    background: 
        linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.788),
            rgba(0,0,0,0)
        );
    background-blend-mode: multiply;

}

.navbarhome[aria-expanded="true"] {
    backdrop-filter: blur(4px) brightness(0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  }
  
#background1 {
    background-image: url('../img/background1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Garante que a altura da página cubra toda a tela */
    padding-top: 50px;
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
    /* margin-bottom: 100px; */
}

#background2 {
    background-image: url('../img/background11.jpeg');
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 100%; /* Garante que a altura da página cubra toda a tela */
    padding-top: 50px;
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
    /* margin-bottom: 100px; */
}

#background3 {
    background-image: url('../img/background5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Garante que a altura da página cubra toda a tela */
    padding-top: 50px;
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
    /* margin-bottom: 100px; */
}


/* 
#background3video {
    position: relative; 
    height: 100%; 
    overflow: hidden; 
    border-bottom: 4px solid #5c3c3e;
    padding-top: 50px;
} */

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Largura completa */
    height: 100%; /* Altura completa */
    object-fit: cover; /* Cobre a área inteira mantendo a proporção */
    z-index: -1; /* Envia o vídeo para trás do conteúdo */
}


#backgroundcadastro{
    background-image: url('../img/background6.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* Garante que a altura da página cubra toda a tela */
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
    padding-top: 50px;

}

#textobg1box{
    margin-left: auto;
    margin-right: auto;
    background-color: #582d30d5;
    padding: 50px;
    max-width: 600px;
    box-sizing: border-box;
}

.textobg1boxhome{
    margin-top: 9.5rem;
    backdrop-filter: blur(4px);

}


#configbox1{
    margin-left: auto;
    margin-right: auto;
    background-color: #582d30d5;
    padding: 20px;
    max-width: 60%;
    box-sizing: border-box;
}

.configcard{
    padding: 20px;
    width: 100%; /* Faz com que o card se ajuste ao container pai */
    min-width: 300px; /* Define um tamanho mínimo */
}

.configform{
    padding-top: 10%;
}

#configbox1inner{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: auto;
}

#textoconfigbox1{
    color: #F8D5B5;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 42px;
}

#textoconfigbox1desc{
    color: #F8D5B5;
    margin-bottom: 10px;

}

.cardform{
    background-color: #582d30;
}

.card-title{
    color: #F8D5B5;
}

.fotoperfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #ccc;
    object-fit: cover;
    margin-bottom: 20px;
    
}

.fotoperfilmini {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F8D5B5;
    object-fit: cover;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
   transition: box-shadow 0.3s ease;
}

.fotoperfilmini:hover {
    /* box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.212); */
    border: 4px solid #F8D5B5;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#textobg1{
    color: #F8D5B5 !important;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 42px;
}

#textobg1desc{
    color: #FFEFF4;
    margin-bottom: 10px;
    font-weight: 500;

}

#textobg1box a{
    background-color: #F8D5B5;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border-color: #582d30d5;

}

#textobg1box a:hover{
    background-color: #582d30d5;
    border-color: #F8D5B5;
    color: #F8D5B5;
}

#quickinfo{
    background-color: #582D30;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
}

#qititle{
    margin-bottom: 5%;
    color: #FFEFF4;
}

.card {
    width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.911);
}

.carousel-control-prev, .carousel-control-next {
    filter: invert(1);
}

#chat{
    background-color: #3a1e1f;
    padding-top: 5%;
    padding-bottom: 5%;
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
}

#chatTitle{
    margin-bottom: 5%;
    color: #FFEFF4;
}

#chatContainerOuter{
    display: flex;
    justify-content: center;
    align-content: center;
}

.chat-container {
    max-width: 600px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #FFEFF4;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    border-bottom: 4px solid #5c3c3e; /* Borda inferior*/
}
.mensagemContainer {
    flex-grow: 1;
    overflow-y: auto;
    padding: 15px;
    border-bottom: 1px solid #50505018; /* Borda inferior*/
}
.mensagem {
    margin-bottom: 15px;
    max-width: 80%;
    clear: both;
}
.mensagem-sistema {
    background-color: #6c757d;
    color: white;
    clear: both;
    text-align: center;
}
.chat-input {
    background-color: #FFEFF4;
    padding: 15px;
    border-top: 1px solid #FFEFF4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

footer{
    z-index: 9999;
    bottom: 0px;
    background-color: #582D30;
    p{
        color: #FFEFF4;
    };
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#logotexto{
    font-size:xx-large;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.726);

}

#signup-container {
    background-color: #582d30d5;
    padding: 40px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; 
    backdrop-filter:blur(10px);
}

#signup-container h2 {
    color: #FFEFF4;
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

.form-label {
    color: #F8D5B5;
    font-weight: 500;
}

.form-control {
    background-color: #FFEFF4;
    border: 1px solid #5c3c3e;
    margin-bottom: 15px;
}

.form-control:focus {
    background-color: #FFEFF4;
    border-color: #D32430;
    box-shadow: 0 0 0 0.25rem rgba(211, 36, 48, 0.25);
}

.btn-primary {
    /* background-color: #D32430;
    border-color: #D32430;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    margin-top: 20px; */

    background-color: #F8D5B5;
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    border-color: #582d30d5;
    width: 100%;
    color: black;

}

.btn-primary:hover {
    /* background-color: #F8D5B5;
    border-color: #F8D5B5;
    color: #582D30; */

    background-color: #582d30d5;
    border-color: #F8D5B5;
    color: #F8D5B5;
}

.form-text {
    color: #F8D5B5;
}

.login-link {
    text-align: center;
    margin-top: 20px;
    color: #F8D5B5;
}

.login-link a {
    color: #FFEFF4;
    text-decoration: none;
}

.login-link a:hover {
    color: #D32430;
}


.alerta {
    position: fixed;
    bottom: -100px; /* Começa fora da tela */
    left: 50%;
    transform: translateX(-50%);
    background-color: #942626;
    color: #F8D5B5;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: floatUp 4s ease-in-out;
    animation-fill-mode: forwards;
}

.sucesso1 {
    position: fixed;
    bottom: -100px; /* Começa fora da tela */
    left: 50%;
    transform: translateX(-50%);
    background-color: #235f1e;
    color: #F8D5B5;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: floatUp 4s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes floatUp {
    0% {
        bottom: -100px;
        opacity: 0;
    }
    20% {
        bottom: 30px;
        opacity: 1;
    }
    80% {
        bottom: 30px;
        opacity: 1;
    }
    100% {
        bottom: -100px;
        opacity: 0;
    }
}





@media (max-width: 768px) {
    #textobg1box{
        margin-left: 10%;
        margin-right: 10%;
        padding: 20px; /* Menos padding em telas menores */
        margin-top: 20%;
    }
    #textobg1 {
        font-size: 32px; /* Reduzindo o tamanho da fonte em telas menores */
    }

    #cardCarousel{
        margin-left: 10%;
        margin-right: 10%;
    }

    .carousel-control-prev{
        left: -15%; /* Garante que não saiam da tela em dispositivos muito pequenos */
    }

    .carousel-control-next{
        right: -15%;
    }
    
    #chatContainerOuter{
        margin-left: auto;
        margin-right: auto;
    }

}


/* Responsividade configcard*/
@media (max-width: 768px) {
    .configcard {
        padding: 15px; /* Reduz padding */
        width: 95%; /* Ocupa quase toda a largura */
    }
}

@media (max-width: 576px) {
    .configcard {
        padding: 10px;
        width: 100%; /* Ocupa toda a largura */
        min-width: unset; /* Remove tamanho mínimo */
    }
}