<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <style>
header .navbar {
    position: relative !important;
}
    </style>
</head>

<body>


    <div class="" id="backgroundcadastro">
        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid ">
                    <a class="navbar-brand center" href="/">
                        <img src="img/dice-d20-solid2.svg" alt="Logo" width="80" height="64" class="center" id="logotipo">
                        <p class="text-center" id="logotexto">Exemplo</p>
                      </a>              
                </div>
              </nav>
        </header>
        <div id="signup-container">
            <h2 id="textobg1">Criar Conta</h2>

                    <!-- captura a variavel 'errocadastro' declarada no app.py em caso de errocadastro -->
                    {% if errocadastro %}
                    <div id="alerta" class="alerta" role="alert">
                    {{ errocadastro }}
                    </div>
                    {% endif %}

                    <!-- captura a variavel 'erro_email_usado' declarada no app.py em caso de erro_email_usado -->
                    {% if erro_email_usado %}
                    <div id="alerta" class="alerta login-link" role="alert">
                    {{ erro_email_usado }}, <a href="/login">faça login</a>
                    </div>
                    {% endif %}



            <form action="{{ url_for('cadastro') }}" method="POST">
                <div class="mb-3">
                    <label for="usuario" class="form-label">Nome de usuário</label>
                    <input type="text" class="form-control" id="usuario" name="usuario" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" minlength="8" required>
                    <div class="form-text">A senha deve ter pelo menos 8 caracteres.</div>
                </div>
                <div class="mb-3">
                    <label for="confirma_senha" class="form-label">Confirmar Senha</label>
                    <input type="password" class="form-control" id="confirma_senha" name="confirma_senha" required>
                </div>
                <button type="submit" class="btn btn-primary" ar>Criar Conta</button>
            </form>
            <div class="login-link">
                Já tem uma conta? <a href="{{ url_for('login') }}">Fazer login</a>
            </div>
        </div>
    </div>










    <footer class="py-5 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit varius magna et efficitur.</p>
        <p class="mb-0">
          <a href="#">Voltar ao topo</a>
        </p>





        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </footer>
</body>
</html>