<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configurações</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>



                      <!-- captura a variavel 'erro2' declarada no app.py em caso de erro -->
                      {% if erro2 %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erro2 }}
                      </div>
                      {% endif %}
                      
                      <!-- captura a variavel 'sucesso2' declarada no app.py em caso de sucesso1 -->
                      {% if sucesso2 %}
                      <div id="sucesso1" class="sucesso1" role="alert">
                      {{ sucesso2 }}
                      </div>
                      {% endif %}

                      <!-- captura a variavel 'errofoto' declarada no app.py em caso de errofoto -->
                      {% if errofoto %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ errofoto }}
                      </div>
                      {% endif %}
  
                      <!-- captura a variavel 'erroformato' declarada no app.py em caso de erroformato -->
                      {% if erroformato %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erroformato }}
                      </div>
                      {% endif %}
  
                      <!-- captura a variavel 'sucessofoto' declarada no app.py em caso de sucessofoto -->
                      {% if sucessofoto %}
                      <div id="sucesso1" class="sucesso1" role="alert">
                      {{ sucessofoto }}
                      </div>
                      {% endif %}
  
                      <!-- captura a variavel 'sucesso1' declarada no app.py em caso de sucesso1 -->
                      {% if sucesso1 %}
                      <div id="sucesso1" class="sucesso1" role="alert">
                      {{ sucesso1 }}
                      </div>
                      {% endif %}

                      <!-- captura a variavel 'erro_confirma_senha' declarada no app.py em caso de erro_confirma_senha -->
                      {% if erro_confirma_senha %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erro_confirma_senha }}
                      </div>
                      {% endif %}                      

                      <!-- captura a variavel 'erro_senha_antiga' declarada no app.py em caso de erro_senha_antiga -->
                      {% if erro_senha_antiga %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erro_senha_antiga }}
                      </div>
                      {% endif %}          
                      
                      
                      <!-- captura a variavel 'sucesso_email' declarada no app.py em caso de sucesso1 -->
                      {% if sucesso_email %}
                      <div id="sucesso1" class="sucesso1" role="alert">
                      {{ sucesso_email }}
                      </div>
                      {% endif %}

                      <!-- captura a variavel 'erro_confirma_email' declarada no app.py em caso de erro_confirma_email -->
                      {% if erro_confirma_email %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erro_confirma_email }}
                      </div>
                      {% endif %}                      

                      <!-- captura a variavel 'erro_email_antigo' declarada no app.py em caso de erro_email_antigo -->
                      {% if erro_email_antigo %}
                      <div id="alerta" class="alerta" role="alert">
                      {{ erro_email_antigo }}
                      </div>
                      {% endif %}                       


    <div id="background2" class="">

        <header>
            <nav class="navbar navbar-expand-lg bg-body-tertiary navbarhome">
                <div class="container-fluid">
                    <a class="navbar-brand nav-link" href="/home" style="display: flex; align-items: center;">

                        <div class="logo-container">
                            <img src="img/dice-d20-solid2.svg" alt="Logo" width="40" height="32" class="logo normal">
                            <img src="img/dice-d20-solid3.svg" alt="Logo" width="40" height="32" class="logo hover">
                            
                        </div>
                        Exemplo
                    </a>              
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link" href="">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" fill="currentColor" class="bi bi-chevron-right chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>
                          Iniciar Campanha
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('minhas_aventuras')}}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" fill="currentColor" class="bi bi-chevron-right chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>Minhas Aventuras</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('meus_personagens') }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" fill="currentColor" class="bi bi-chevron-right chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>Meus Personagens</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('configuracoes') }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" fill="currentColor" class="bi bi-chevron-right chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>Configurações</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="20" fill="currentColor" class="bi bi-chevron-right chevron" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/>
                          </svg>Sair</a>
                      </li>
                    </ul>
                    <!-- Display de nome e foto de usuario -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item" style="display: flex; align-items: center;">
                          <a href="{{ url_for('configuracoes') }}">
                            <img id="fotoperfilmini" class="fotoperfilmini" src="{{ fotoperfil if fotoperfil else 'https://ui-avatars.com/api/?name=' + usuario }}" alt="Foto de perfil atual" >
                          </a>                  
                          <a class="nav-link" href="{{ url_for('configuracoes') }}">{{usuario}}</a>
                        </li>
                    </ul>
                  </div>
                </div>
              </nav>
        </header>


        <div id="configbox1" class="center textobg1boxhome">
            <div id="container-inner">
                <p id="textoconfigbox1" class="text-center">Configurações de Perfil</p>
                <p id="textoconfigbox1desc" class="text-center">Personalize sua experiência como Mestre</p>

                <div class="card cardform mb-4 container-fluid configcard center">
                    <div class="card-header">
                        <h5 class="card-title mb-0">
                            <i class="fas fa-shield me-2"></i>
                            Personalizar perfil
                        </h5>
                    </div>



                    <!-- Form para alterar nome de usuario -->
                    <form action="{{ url_for('alterar_nome') }}" method="POST" class="configform">
                        <div class="mb-3">
                            <label for="usuario" class="form-label">Alterar nome de usuario:</label>
                            <input type="text" class="form-control" id="usuario" name="usuario" required placeholder="Digite seu novo nome">
                        </div>
                        <div class="mb-3">
                            <label for="senha" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senha" name="senha" required placeholder="Digite sua senha">
                        </div>
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>





                    <!-- Form para alterar imagem de perfil -->
                    <form action="/uploadfoto" method="POST" enctype="multipart/form-data" class="configform">
                        <div class="mg-3">
                            <label for="fotoperfil" class="form-label">Escolha uma nova foto de perfil: </label>
                            <div class="profile-container">
                                <!-- Exibe a imagem armazenada no banco de dados -->
                                <img id="fotoperfilselecionada" class="fotoperfil" src="https://via.placeholder.com/150" alt="Foto de perfil selecionada">
                            </div>                                
                            <input type="file" class="form-control" id="fotoperfil" name="fotoperfil" accept="image/*" required> 
                            <input type="hidden" id="hidden-input" name="profile-picture-hidden">
                        </div>
                        <!-- <div class="mb-3">
                          <label for="senha" class="form-label">Senha</label>
                          <input type="password" class="form-control" id="senha" name="senha" required placeholder="Digite sua senha">
                        </div> -->
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </form>
                </div>

                <div class="card cardform mb-4 container-fluid configcard center">
                  <div class="card-header">
                      <h5 class="card-title mb-0">
                          <i class="fas fa-shield me-2"></i>
                          Opções de conta
                      </h5>
                  </div>



                  <!-- Form para alterar senha de usuario -->
                  <form action="{{ url_for('alterar_senha') }}" method="POST" class="configform">
                      <div class="mb-3">
                          <label for="senha" class="form-label">Alterar senha:</label>
                          <input type="password" class="form-control" id="senha" name="senha" required placeholder="Digite sua nova senha">
                      </div>
                      <div class="mb-3">
                        <label for="confirma_senha" class="form-label">Confirmar senha:</label>
                        <input type="password" class="form-control" id="confirma_senha" name="confirma_senha" required placeholder="Confirme sua nova senha">
                    </div>
                      <div class="mb-3">
                          <label for="senha_antiga" class="form-label">Senha antiga:</label>
                          <input type="password" class="form-control" id="senha_antiga" name="senha_antiga" required placeholder="Digite sua senha atual">
                      </div>
                      <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>





                  <!-- Form para alterar email de usuario -->
                  <form action="{{ url_for('alterar_email') }}" method="POST" class="configform">
                    <div class="mb-3">
                        <label for="email" class="form-label">Alterar e-mail:</label>
                        <input type="text" class="form-control" id="email" name="email" required placeholder="Digite seu novo e-mail">
                    </div>
                    <div class="mb-3">
                      <label for="confirma_email" class="form-label">Confirmar e-mail:</label>
                      <input type="text" class="form-control" id="confirma_email" name="confirma_email" required placeholder="Confirme seu novo e-mail">
                    </div>
                    <div class="mb-3">
                        <label for="email_antigo" class="form-label">E-mail antigo:</label>
                        <input type="text" class="form-control" id="email_antigo" name="email_antigo" required placeholder="Digite seu e-mail atual">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                  </form>

                </div>

                <div class="card cardform mb-4 container-fluid configcard center" style="border-color: #dc3545;">

                  <div class="card-header">
                      <h5 class="card-title mb-0">
                          <i class="fas fa-shield me-2"></i>
                          Danger Zone
                      </h5>
                  </div>

                  <div class="card-body">

                      <div class="">
                          <svg class="delete-icon text-danger" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z"/>
                          </svg>
                          
                      </div>

                      <h5 class="card-title">
                        <i class="fas fa-shield me-2"></i>
                        Excluir Conta
                      </h5>

                      <p class="card-text mb-4" style="color: #dc3545;">
                          Ao excluir sua conta, todos os seus dados serão permanentemente removidos.
                          Esta ação não pode ser desfeita.
                      </p>

                      <!-- Form para Excluir a conta -->
                        <button class="btn w-100 btn-primary" style="background-color: #dc3545;" onclick="showConfirmDialog()" > 
                          Excluir minha conta
                        </button>       
                        
                  </div>
                </div>
          </div>
            </div>
        </div>
    </div>

    <div class="confirm-dialog" id="confirmDialog">
      <div class="dialog-content float-up">
          <h5 class="mb-3" style="color: white;">Você tem certeza?</h5>
          <p class="card-text mb-4" style="color: white;">
              Esta ação não pode ser desfeita. Isso excluirá permanentemente sua conta
              e removerá seus dados de nossos servidores.
          </p>
          <div class="d-flex justify-items-center gap-2">
              <button class="btn btn-primary" onclick="hideConfirmDialog()">
                  Cancelar
              </button>

              <form action="/excluir_conta" method="POST" enctype="multipart/form-data">
                <button class="btn btn-primary" type="submit" style="background-color: #dc3545; white-space: nowrap;">
                    Sim, excluir minha conta
                </button>
              </form>

          </div>
      </div>
    </div>


















    <footer class="py-5 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi blandit varius magna et efficitur.</p>
        <p class="mb-0">
          <a href="#">Voltar ao topo</a>
        </p>
        <!-- Adiciona estilo unico quando a navbar estende -->
        <script>
            document.querySelector('.navbar-toggler').addEventListener('click', function () {
            const navbar = document.querySelector('.navbarhome');
            const expanded = this.getAttribute('aria-expanded') === 'true';
            navbar.setAttribute('aria-expanded', expanded);
            });
        </script>

        
        <!-- Script para exibir a imagem de perfil  -->
        <script> 
            const fileInput = document.getElementById('fotoperfil');
            const selectedProfilePicture = document.getElementById('fotoperfilselecionada');
            const hiddenInput = document.getElementById('hidden-input');
        
            // Atualiza o círculo com a imagem selecionada
            fileInput.addEventListener('change', (event) => {
              const file = event.target.files[0];
              if (file) {
                const reader = new FileReader();
                reader.onload = function() {
                  selectedProfilePicture.src = reader.result;
                };
                reader.readAsDataURL(file);
              }
            });
          </script>


        <!-- Script para alertar o usuario na hora de excluir a conta -->
        <script>
          function showConfirmDialog() {
              document.getElementById('confirmDialog').classList.add('show');
          }

          function hideConfirmDialog() {
              document.getElementById('confirmDialog').classList.remove('show');
          }

          // function deleteAccount() {
          //     // Aqui você implementa a lógica de exclusão da conta
          //     alert('Conta deletada com sucesso!');
          //     hideConfirmDialog();
          // }
        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </footer>
</body>
</html>